Nr;Hylla;Författare;Titel;Upplaga;År;Fjärrlån;
1;Lz Andersson, Pamela;Andersson, Pamela;Jag ska inte dö idag;;2014;false;
2;Ikz Brost, Johannes;Brost, Johannes;Dö inte nyfiken!;;2014;false;
3;Ikz Dunham, Lena;Dunham, Lena;Not that kind of girl;;2014;false;
4;Rbz Borg, Björn;Holm, Mats;När vi var bäst;;2014;false;
5;Gz Woolf, Virginia;Larsson, Lisbeth;Promenader i Virginia Woolfs London;;2014;false;
6;Lz Lorentzen, Trude;Lorentzen, Trude;Mysteriet mamma;;2014;false;
7;Lz Philby, Kim;Macintyre, Ben;En spion bland vänner;;2014;false;
8;Ikz Ternström, Solveig;Ternström, Solveig;Dagbok 2008-2014;;2014;false;

