Nr;Hylla;Författare;Titel;Upplaga;År;Fjärrlån;
1;Hc/LC;Asaad, Arkan;Blod rödare än rött;;2014;false;
2;Hce/LC;Boyd, William;Solo;;2014;false;
3;Hc/LC;Cedervall, Marianne;Solsvärta;;2014;false;
4;Hc/LC;Jallai, Anders;Anton Modin - i rikets tjänst;;2014;false;
5;Hc/LC;Lärn, Viveca;Södra vägen till Saltön;;2014;false;
6;Hce/LC;McCall Smith, Alexander;Limpopos akademi för privatdetektiver;;2013;false;

