Nr;Hylla;Författare;Titel;Upplaga;År;Fjärrlån;
1;Hce;Christie, Agatha;Huset på udden;;2014;false;
2;Hce;Hayder, Mo;Hud;;2014;false;
3;Hce;Indriðason, Arnaldur;Nätter i Reykjavik;;2014;false;
4;Hc;Johansson, Tony;Den tredje passageraren;;2014;false;
5;Hc;Läckberg, Camilla;Lejontämjaren;;2014;false;
6;Hce;May, Peter;Lewismannen;;2014;false;
7;Hce;Meyer, Deon;7 dagar;;2014;false;
8;Hce;Mina, Denise;Garnethill;;2014;false;
9;Hce;Mish'ani, Deror;Okänt hot;;2014;false;
10;Hce;Oswald, James;Flickoffret;;2014;false;

