Nr;Hylla;Författare;Titel;Upplaga;År;Fjärrlån;
1;Prab(x); ;De 66 hetaste superbilarna;;2014;false;
2;Gcz Lindgren, Astrid;Andersen, Jens;Denna dagen, ett liv;;2014;false;
3;Gcz Lindgren, Astrid;Andersen, Jens;Denne dag, et liv;;2014;false;
4;Ih;Arnqvist Engström, Frida;Gerillaslöjd;;2014;false;
5;Nob; ;Bangladesh;Omarb. och aktualiserad version;2014;false;
6;Bb;Batra, David;Gevär säljes p. g. a. dödsfall;;2014;false;
7;Odc;Bengtsson, Hans;Vår offentliga förvaltning;1. uppl.;2014;false;
8;Kma;Berner, Örjan;Härskarna i Kreml;;2014;false;
9;Obk;Bernitz, Ulf;Introduktion till EU;5. uppl.;2014;false;
10;Noc; ;Burma;Omarb. och aktualiserad version;2014;false;
11;Eab;Dahlberg, Gunilla;Från kvalitet till meningsskapande;3. uppl.;2014;false;
12;Kfb;Danielsen, Andreas;Hederskriget;;2014;false;
13;G;Danius, Sara;Husmoderns död och andra texter;;2014;false;
14;Pra; ;Driving licence book;25. ed.;2014;false;
15;Qcb;Dunker, Elisabeth;Fine little day;;2014;false;
16;Qb; ;E2000 classic. 1. Basbok;[Ny utg.]1. uppl.;2011;false;
17;Mz;Ehrensvärd Cardell, Amelie;Mystik på svenska slott;;2014;false;
18;Occ;Ekroth, Jesper;Offentlighet och sekretess i socialtjänsten;1. uppl.;2014;false;
19;Nk;Ellborg, Anni;Mitt Barcelona;;2013;false;
20;K.54;Ellis, John;Soldaten i ledet;;2014;false;
21;Vndp;Engvall, Caroline;Skuggbarn;;2013;false;
22;Aef;Eriksson, Lars Torsten;Att utreda, forska och rapportera;10. uppl.;2014;false;
23;Qba;Eriksson, Pauline;Ta steget till eget;2. uppl.;2014;false;
24;Kocdc;Falkman, Kaj;Ekot från Vietnam;;2014;false;
25;Em-c;Fast Ehrlén, Katarina;Skolan som inte finns - men som alla älskar!;;2014;false;
26;Nod; ;Filippinerna;Omarb. och aktualiserad version;2014;false;
27;Noaa;Foconi, Stefan;Istanbul;1. uppl.;2014;false;
28;Ohf;Forsman, Monika;Äldreomsorgens värdegrund;1. uppl.;2014;false;
29;Dof;Fred, Görel;Försonas med din barndom;1. utg.;2014;false;
30;Qcae; ;Glad i choklad;;2014;false;
31;Oab;Gloppestad, Anne;Ungdomskulturer;1. uppl.;2014;false;
32;Qbc;Greve, Jan;Ekonomistyrning;2. uppl.;2014;false;
33;Qbc;Greve, Jan;Ekonomistyrning. Övningsbok / Jan Greve & Peter Öhman;3. uppl.;2014;false;
34;Vnd;Hall, Paula;Din guide till ett bättre sexliv;;2007;false;
35;Qcab;Harris, Andy;Ät Istanbul;;2014;false;
36;Qcca;Helgetun, Marte;Sticka till barn;;2014;false;
37;Ua;Hughes, David W.;Solsystemet;Svensk utg.;2014;false;
38;Dok;Hultman, Sara;Fokus på jobbet;1. utg.;2014;false;
39;Oa;Hwang, Philip;Gruppsykologi;1. utg.;2014;false;
40;Kc.4;Håkansson, Håkan;Vid tidens ände;;2014;false;
41;Noba; ;Indien;Omarb. och aktualiserad version;2014;false;
42;Nod; ;Indonesien, Östtimor;Omarb. och aktualiserad version;2014;false;
43;Dok;Ingemarsson, Kajsa;Modern mystik;;2014;false;
44;Eaa;Ingvar, Martin;Hjärnkoll på skolan;1. utg.;2014;false;
45;Qba;Jacobsen, Dag Ingvar;Hur moderna organisationer fungerar;4. uppl.;2014;false;
46;Prcc;Jaldung, Håkan;Allmogebåtar i nordvästra Vättersbygden;;2014;false;
47;Noec; ;Japan;Omarb. och aktualiserad version;2014;false;
48;Qdfja;Jensen, Per;Hunden som skäms;;2014;false;
49;Qcae;Johansson, Heléne;Bröd från Brunkebergs bageri;;2009;false;
50;Vc;Johansson, Ulla;Näring och hälsa;3. uppl.;2014;false;
51;Qcae; ;Julfika;;2014;false;
52;Noc; ;Kambodja;Omarb. och aktualiserad version;2014;false;
53;Npa; ;Kanarieöarna;4., aktualiserade utg.;2011;false;
54;Prb;Karlsson, Lars Olov;Snabba tåg;;2014;false;
55;Ohd;Kim, Eunsun;Nordkorea;;2014;false;
56;Noea; ;Kina;Omarb. och aktualiserad version;2014;false;
57;Ohab; ;Kommunal arbetsrätt;4. uppl.;2014;false;
58;Cmd; ;Koranen;Nyutg.;2009;false;
59;Qcaa; ;Kräftboken;;2014;false;
60;Oa;Kvale, Steinar;Den kvalitativa forskningsintervjun;3. uppl.;2014;false;
61;Pra; ;Körkortsboken;26. utg.;2014;false;
62;Noc; ;Laos;Omarb. och aktualiserad version;2014;false;
63;Qba;Lindkvist, Lars;Organisationsteori;6. uppl.;2014;false;
64;Pj;Lundin, Lina Sofia;Naturlig färgning;;2014;false;
65;Em-c; ;Lärande, skola, bildning;3. utg.;2014;false;
66;Occ;Madestam, Jenny;Hur blir man vald?;1. uppl.;2014;false;
67;Noc; ;Malaysia, Brunei;Omarb. och aktualiserad version;2014;false;
68;Rbe;Markne, Pether;Hästens grundarbete;;2014;false;
69;Nnb;McKelvie, Robin;Kroatien;4., rev. uppl.;2014;false;
70;Oc;Mohr, Sanna;Att arbeta med Barnkonventionen - såklart;;2014;false;
71;No; ;Mongoliet;Omarb. och aktualiserad version;2014;false;
72;Kyh(p); ;Myntboken. 2015;;2015;false;
73;Qcca;Mård Castman, Sanna;Stickad vinterfröjd;1. uppl.;2014;false;
74;Nob; ;Nepal, Bhutan;Omarb. och aktualiserad version;2014;false;
75;Rbba;Nilsson, Torbjörn;Förstå spelets idé;1. uppl.;2014;false;
76;Qcaa;Nilsson, Tove;Ägg;;2014;false;
77;Noe; ;Nordkorea;Omarb. och aktualiserad version;2014;false;
78;Dok;Olofsson, Ken;När livet måste gå vidare;;2014;false;
79;Nfa;Olsson, Annamaria;Mitt Berlin;;2014;false;
80;Qcca;Plum, Ingrid;Brodera blommor och blad;;2014;false;
81;Eaa;Pramling Samuelsson, Ingrid;Det lekande lärande barnet i en utvecklingspedagogisk teori;2. uppl.;2014;false;
82;Nk;Renouf, Norman;Costa del Sol & Andalusien;4., rev. uppl.;2014;false;
83;Nfd;Rüster, Carl;Mitt Prag;;2014;false;
84;Pj;Rørseth, Tone;Bara ull;;2014;false;
85;Ih(p); ;Samlarboken. 2015;;2015;false;
86;Eab;Sandin, Daniel;Dokumentation för lärande;1. uppl.;2014;false;
87;Ud;Schou Jensen, Erik;Våra stenar;2. uppl.;2011;false;
88;Kfa;Schön, Bosse;Hitlers svenska SS-soldater;;2014;false;
89;K.55;Sebestyen, Victor;1946, the making of the modern world;;2014;false;
90;Noc; ;Singapore;Omarb. och aktualiserad version;2014;false;
91;Ohi;Sjöström, Anna;Promille;1. uppl.;2014;false;
92;Nqd(p); ;South American handbook. 2015 / Ben Box;;2015;false;
93;Nob; ;Sri Lanka, Maldiverna;Omarb. och aktualiserad version;2014;false;
94;F.06;Strömquist, Siv;Konsten att tala och skriva;5. uppl.;2014;false;
95;Qcaa;Sundström, Stefan;Stefans stora blå;1. uppl.;2014;false;
96;Noe; ;Sydkorea;Omarb. och aktualiserad version;2014;false;
97;Noea; ;Taiwan;Omarb. och aktualiserad version;2014;false;
98;Noc; ;Thailand;Omarb. och aktualiserad version;2014;false;
99;Ohe; ;Tolerans;;2014;false;
100;Dok;Tudor-Sandahl, Patricia;Humlans hemlighet;;2014;false;
101;Ohf;Umb Carlsson, Õie;Värdegrund i äldreomsorg;;2014;false;
102;Dop;Van Bronkhorst, Jeanne;Föraningar;;2014;false;
103;Noc; ;Vietnam;Omarb. och aktualiserad version;2014;false;
104;Kc.6(p); ;Vår kungafamilj. 2014, [Prinsessornas år];;2014;false;
105;Uh;Wetterstrand, Maria;Vad är miljö och 100 andra jätteviktiga frågor;1. uppl.;2014;false;
106;Vla;Wiklund, Lars;Lisa - ett liv;;2013;false;
107;Vlad;Wikström, Anja;Ingen familj är en ö;[Ny utg.];2014;false;
108;Ev;Zschiedrich, Odd;Vad är bildning och 100 andra jätteviktiga frågor;;2014;false;
109;Vef;Örnros, Git;Mammas kamp mot Mr. Stroke;;2014;false;

