Nr;Hylla;Författare;Titel;Upplaga;År;Fjärrlån;
1;Hce/LC;Bauer, Belinda;Livets & dödens villkor;;2014;false;
2;Hc/LC;Berggren, Henrik;Det röda arvet;;2014;false;
3;Hc/LC;Bergin, Birgitta;Ett oemotståndligt förslag;;2014;false;
4;Dg/LC;Einhorn, Stefan;De nya dödssynderna;;2014;false;
5;Hc/LC;Ernestam, Maria;Öga för öga, tass för tass;;2014;false;
6;Hc/LC;Hedström, Ingrid;Bortfall;;2014;false;
7;Hc/LC;Kallentoft, Mons;Jordstorm;;2014;false;
8;Hc/LC;Kepler, Lars;Stalker;;2014;false;
9;Hc/LC;Läckberg, Camilla;Lejontämjaren;;2014;false;
10;Hce/LC;Martin, George R. R.;Kråkornas fest;;2014;false;
11;Hce/LC;May, Peter;Lewismannen;;2014;false;
12;Hce/LC;Munro, Alice;Nära hem;;2014;false;
13;Hce/LC;Nesbø, Jo;Sonen;;2014;false;
14;Hce/LC;Nicholls, David;Vi;;2014;false;
15;Hc/LC;Schulman, Ninni;Svara om du hör mig;;2013;false;
16;Hc/LC;Sundström, Josefine;Vinteräpplen;;2014;false;
17;Hce/LC;Tropper, Jonathan;Plan B;;2014;false;

