Nr;Hylla;Författare;Titel;Upplaga;År;Fjärrlån;
1;Hc;Ahlström, Gabriella;Sirener;;2014;false;
2;He;Bailey, Paul;The prince's boy;;2014;false;
3;Hc;Bergsten, Catharina;Leo;;2014;false;
4;Hce;Brontë, Charlotte;Jane Eyre;;1943;false;
5;Hc.03;Börjel, Ida;Ma;;2014;false;
6;Hce;Catton, Eleanor;Himlakroppar;;2014;false;
7;Hce;Cussler, Clive;Tripoli;;2014;false;
8;Hc;Ekström Lindbäck, Lyra;Ett så starkt ljus;;2014;false;
9;Hce;Enrigue, Álvaro;Tiebreak;;2014;false;
10;Hce;Fitzgerald, F. Scott;Alla sorgsna unga män;;2014;false;
11;Hce;Ford, Richard;Kan jag vara Frank med dig?;;2014;false;
12;Hce;Fuego, Andréa del;Syskonen Malaquias;;2014;false;
13;Hce(p); ;Granta. Nr 4, Spöken;; ;false;
14;Hc;Hedlin, Anna;Den som vill ha hare till frukost måste jaga om natten;;2014;false;
15;Hc;Hildén, Jack;Vi, vi vaktmästare;;2014;false;
16;Hj;Kerangal, Maylis de;Réparer les vivants;;2013;false;
17;He;Keyes, Marian;The woman who stole my life;;2014;false;
18;Hce;King, Stephen;Väckelse;;2014;false;
19;He;Lawrenson, Deborah;The sea garden;;2014;false;
20;Hj;Levy, Marc;Une autre idée du bonheur;;2014;false;
21;Hc;Linde, Ida;Norrut åker man för att dö;;2014;false;
22;Hc;Lindström, Ulf;Rädda barn;;2014;false;
23;He;McEwan, Ian;The children act;;2014;false;
24;Hce;McFarlane, Mhairi;You had me at hello;;2014;false;
25;He;Meyers, Randy Susan;Accidents of marriage;;2014;false;
26;Hce;Modiano, Patrick;Dora Bruder;;2014;false;
27;Hc;Nordstrand, Staffan;Byggfirman;;2014;false;
28;Hce;O'Flanagan, Sheila;Saker vi inte säger;;2014;false;
29;Hj;Rosnay, Tatiana de;Son carnet rouge;;2014;false;
30;Hce;Shamsie, Kamila;Brända skuggor;;2014;false;
31;Hc(s); ;Småland för mig;;2014;false;
32;He;Straub, Emma;The vacationers;;2014;false;
33;Hc;Sund, Lars;Tre systrar och en berättare;;2014;false;
34;He;Taylor, Constance Lindsay;The accident;;2014;false;

